<li><a href="{{ site.baseurl }}/index.html">首页</a></li>
<li><a href="{{ site.baseurl }}/wellness.html">大健康</a></li>
<li><a href="{{ site.baseurl }}/stemcell.html">干细胞</a></li>
<li><a href="{{ site.baseurl }}/derm.html">皮肤医美</a></li>
<li><a href="{{ site.baseurl }}/surgery.html">整形医美</a></li>
<li><a href="{{ site.baseurl }}/woman.html">女性护理中心</a></li>
<li><a href="{{ site.baseurl }}/man.html">男性健康中心</a></li>
<li><a href="{{ site.baseurl }}/transfer.html">接送服务</a></li>
<li><a href="{{ site.baseurl }}/tour.html">市区观光</a></li>
<li><a href="{{ site.baseurl }}/lifestyle.html">生活服务</a></li>
<li><a href="{{ site.baseurl }}/custom-trip.html">定制医疗观光方案</a></li>
<li><a href="{{ site.baseurl }}/hospitals.html">合作医院</a></li>
