<nav id="menu">
  <header class="major"><h2>菜单</h2></header>
  <ul>
    <li><a href="/index.html">首页</a></li>
    <li><a href="/wellness.html">大健康</a></li>
    <li><a href="/stemcell.html">干细胞</a></li>
    <li><a href="/derm.html">皮肤医美</a></li>
    <li><a href="/surgery.html">整形医美</a></li>
    <li><a href="/woman.html">女性护理中心</a></li>
    <li><a href="/man.html">男性健康中心</a></li>
    <li><a href="/transfer.html">接送服务</a></li>
    <li><a href="/tour.html">市区观光</a></li>
    <li><a href="/lifestyle.html">生活服务</a></li>
    <li><a href="/custom-trip.html">定制医疗观光方案</a></li>
  </ul>
</nav>

